{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Katie's Blog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
<body>
    <header class="page-header">
        <div class="container">
            <h1><a href="/">Django Girls Blog</a></h1><img src={% static "cheddar.jpeg" %} alt="Cheddar" width="500">
        </div>
    </header>
    <main class="container">
        <!-- img src="https://media.istockphoto.com/photos/stack-of-pancakes-with-maple-syrup-and-fresh-blueberries-picture-id1161996776?b=1&k=20&m=1161996776&s=170667a&w=0&h=GPlURDuxPhGn28fmyvrqVa7hTa0E6kzz-ZEzimub28s=" alt="" class="logo" -->
        <div class="row">
            <div class="col">
                {% for post in posts %}
                    <article class="post">
                        <time>published: {{ post.published_date }}</time>
                        <h2><a href="">{{ post.title }}</a></h2>
                        <p>{{ post.text }}</p>
                    </article>
                    <hr>        
                {% endfor %}
            </div>
        </div>
    </main>


    <hr>

    <article>
        <time>published: March 9th, 2022, 17.11</time>
        <h2><a href="">My first post</a></h2>
        <p>I'm learning Django!</p>
    </article>

    <article>
        <time>published: 14.06.2014, 12:14</time>
        <h2><a href="">My second post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </article>

    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>